*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 60px;
    background-color: white;
    
    top: -1px;
    margin-bottom: 80px;
    position: fixed;
    z-index: 1;
}

#s1{
    padding: 50px;
    margin-top: 90px;
    margin-bottom: 30px;
}
.images1{
    width: 150px;
    height: 450px;
    object-fit: cover;
    border-radius: 25px;
    transition: all ease-in-out 0.5s;
}
.images1:hover{
    width:253px;
}
.container{
    display: flex;
    justify-content: center;
    height: 450px;
    gap: 5px;
}



.old-price {
    font-size: 21px; /* Меньший размер для старой цены */
    color: #cecece;
    text-decoration: line-through;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration-color: red; /* Красная линия зачёркивания */
    text-decoration-thickness: 1.5px; /* Тонкая линия */
    font-family:Inter;
    margin-top: 5px ;
  }
body{  
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    background-color:#008084 ;
}
.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    width: 100%;
    height: 100%;
}

.icon1{
    width: 40px;
    margin-right: 10px;
    display: none;
}
.icon2{
    width: 45px;
    
}
.poisk{
    width: 100%;
    background-color: white;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.poisk_d{
    width: 500px;
    background-color: white;
    height: 40px;
    border: 0;
    border-radius: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    border: #001819 3px solid;
}
.poisk_inp{
    width: 460px;
    height: 100%;
    border: 0;
    border-radius: 30px;
    background-color: white;
    padding: 10px;
    outline: 0;
    color: #001819;
    font-size: Inter;
    font-size: 15px;
}
.poisk_btn{
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.poisk_btn2{
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.poisk_img{
    width: 20px;
    height: 20px;
}
.poisk_img2{
    width: 25px;
    height: 25px;
}
.poisk_img2:hover{
    transition: 0.8s ;
    transform: scale(0.7);
}



#img1{
    border-radius: 20px;
    
    width: 100%;
}
.logo{
    height: 45px;
}
.hnav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.hnav a{
    font-size: 19px;
    text-decoration: none;
    color: black;
    font-family: Inder;
}
.hnav a:hover{
    color: rgb(2, 188, 187);
    transition: 0.7s;
}
.hnav a:active{
    color: rgb(0, 125, 125);
    transition: none;
}

.s2{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
}

.tovar{
    width: 220px;
    height: 333px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 3px 0px ;
    margin-bottom: 30px;
}


header {
    width: 100%;
    height: 60px;
    background-color: white;
    top: -1px;
    margin-bottom: 80px;
    position: fixed;
    z-index: 1;
}


.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    width: 100%;
    height: 100%;
}

.logo {
    height: 45px;
}


.menu-icon {
    display: none;
    cursor: pointer;
}

.menu-icon-img {
    width: 30px;
}


.hnav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.hnav a {
    font-size: 19px;
    text-decoration: none;
    color: black;
    font-family: Inder;
    position: relative;
    transition: color 0.3s ease-in-out;
}


.hnav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    background: rgb(2, 188, 187);
    transition: width 0.3s ease-in-out;
}

.hnav a:hover::after {
    width: 100%;
}

.hnav a:hover {
    color: rgb(2, 188, 187);
}

.hnav a:active {
    color: rgb(0, 125, 125);
    transition: none;
}


.hicon {
    display: none;
    justify-content: flex-end;
    align-items: center;
}

.icon2 {
    width: 45px;
}


@media (max-width: 580px) {
    .hnav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: white;
    }
    
    .hicon {
        display: none;
        position: absolute;
        bottom: 10px;
        width: 100%;
        justify-content: center;
    }

    .flag-link {
        margin-top: 5px;
    }
    .icon2{
        margin-bottom: 10px;
    }
    .menu-icon {
        display: block;
    }

    .menu-active .hnav {
        display: flex;
    }
    .menu-icon-img{
        height: 20px;
        width: 25px;
    }
}


.s2tovs{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    margin-bottom: 130px;
}
h1{
    font-family: Inder;
    font-size: 34px;
    color: white;
    font-weight: 400;
    margin-bottom: 30px;
}
.timg{
    height: 172px;
    width: 220px;
    border: 0;
    border-radius:15px ;
}
.tp{
    font-size: 15px;
    font-family: Inder;
    margin: 0 6px;
    width: 208px;
    
}
.btn1{
    width: 148px;
    height: 33px;
    background-color: #14ADAB;
    border-radius: 35px 12.5px 35px 12.5px;
    border: 0;
    margin-bottom: 10px;
    font-family: Inder;
    font-size:13x;
    font-weight: 600;
    cursor: pointer;
    display: flex ;
    align-items: center;
    justify-content: center;
}
#s1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider {
    width: 1110px;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.slides {
    display: flex;
    width: 400%;
    transition: transform 0.5s ease-in-out;
}

.slide {
    width: 1110px;
    height: 500px;
    flex-shrink: 0;
}

.navigation {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.nav-btn {
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 35px;
    color: white;
    user-select: none;
}
.buttonn{
    background-color: transparent;
    border: 0;
}

#img1{
    width: 1280px;
}
.foot{
    width: 100%;
    height: 300px;
    background-color: white;
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 25px 50px;
}   
.hnav2{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}
.hnav2 a{
    font-size: 18px;
    text-decoration: none;
    color: black;
    font-family: Inder;
}
.hnav2 a:hover{
    color: rgb(2, 188, 187);
    transition: 0.7s;
}
.hnav2 a:active{
    color: rgb(0, 125, 125);
    transition: none;
}


.soc2{
    height: 25px;
    width: 25px;
    border:0 ;
    cursor: pointer;
}

.socset{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    
}

.soc3{
    height: 45px;
    
    cursor: pointer;
}
.navaa{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    margin-top: 40px;
}


.rasm{
    width: 50px;
}

.cr_table_div{
    display: none;
}


.cr_table_divv{
    display: none;
}

.cr_table_btn1{
    background-color: transparent;
    width: 30px;
    height: 30px;
    border: 0;
    cursor: pointer;
}
.cr_table_btn1_img{
    width: 30px;
    height: 30px;
}
.cr_table_div3{
    display: flex;

}
.cr_table_img{
    width: 400px;
    margin-right: 20px;
    border-radius: 20px;
}
.cr_table_div4{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}
.cr_table_h2{
    font-family: Inder;
    font-size: 40px;
    font-weight: 400;
}
.cr_table_p1{
    font-family: Inder;
    font-weight: 400;
    font-size: 25px;
}

.cr_table_div5{
    display: flex;
    align-items: center;
    
}
.cr_table_p3{
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    color: white;
    margin-right: 5px;
}
.cr_table_img2{
    width: 20px;
    height: 20px;
    margin-right: 60px;
}
.cr_table_btn2{
    cursor: pointer;
    width: 180px;
    height:35px;
    border-radius: 70px 10px 70px 10px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-family: Inter;
    background: rgb(20, 173, 171);
}
.cr_table_div_act{
    display: flex;
    background-color: #008084;
    flex-direction: column;
    width: 700px;
    height: 500px;
    padding: 10px 10px 60px 10px;
    justify-content: space-between;
    border-radius: 20px;
    position: fixed;
    
}

.cr_table_divv_act{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.558);
    position: fixed ;
    
}   


.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(0,0,0,0.4); 
    
}
.p10{
    font-family: Inder;
    font-weight: 400;
    font-size: 25px;
}

.modal-content {
    background-color: #008084;
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 709px;
    padding: 10px 10px 15px 10px;
    justify-content: space-between;
    border-radius: 20px;
    position: fixed;
    position: relative;
    border: 0;

    
    margin:auto;
    
    
   
   
    
    
   
}
.ti3{
    width: 30px;
    height: 30px;
}
.ti{
    width: 520px;
    margin-right: 20px;
    border-radius: 20px;
    height: 397px;
}

.modal-header {
    padding: 10px;
    text-align: left;
    
    border: 0;
}

.ti2{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.tii2{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modalh1{
    font-family: Inder;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 20px;
}

.closeBtn {
    color: white;
    font-size: 24px;
    font-weight: bold;
    float: left;
    cursor: pointer;
    margin-left: 10px;
}

.modal-body {
    display: flex;
    padding: 10px;
    align-items: center;
    
}




.modal-info {
    padding-left: 20px;
    color: white;
    height: 397px;
    display: flex;
    align-items: start;
    
    flex-direction: column;
}







.modal-footer {
    background-color: #008084;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 10px 10px;
    color: white;
    border: none;
}


.telegram-link {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}


.tb{
    cursor: pointer;
    width: 180px;
    height:35px;
    border-radius: 70px 10px 70px 10px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-family: Inter;
    font-size: 17px;
    font-weight: 600;
    background: rgb(20, 173, 171);
    margin-right: 20px  ;
}
.assa{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    

}

.p11{
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    color: white;
    margin-right: 5px;
    height: 18px;
    margin: 0 0 0 0 ;  
}
.tba{
    text-decoration: none;
}

.cart{
    width: 800px;
    height: 503px;
    border: none;
    border-radius: 30px;
    margin-right: 30px;
}
.location_map{
    width: 800px;
    height: 503px;
    border: none;
    border-radius: 30px;
}
.l_sc_1{
    padding:50px;
    display: flex;
    gap: 60px;
    align-items: center;
    height: 100vh;
}

.location_icon{
    height: 42px;
}
.location_ic{
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.location_text{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}
.location_h2{
    color: white;
    font-size: 40px;
    font-family: Inter;
}
.location_h3{
    font-size: 20px;
    text-decoration: none;
    color: white;
    font-family: Inder;
}
#location_h3{
    font-size: 24px;
}
.aa{
    text-decoration: none;
}
#mahsulot_btn{
    background-color: white;
    border: #002627 solid 3px;
    font-size: 20px;
    font-family: Inder;
    color:#002627;
    text-align: center;
    border-radius:10px ;
    cursor: pointer;
    height: 44px;
    margin-bottom: 30px;
}
#mahsulot_btn:hover{
    color: white;
    transition: 0.6s ;
    background-color:#002627;
    
}
#mahsulot_btn:active{
    color: rgb(151, 151, 151);
    transition: none;
    background-color:#001819;
    
}
.location_h3:hover{
    transition: 0.6s ;
    transform: scale(1.1);
    
}
.location_icon:hover{
    transition: 0.6s ;
    transform: scale(0.8);
    
}
.icon2:hover{
    transition: 0.6s ;
    transform: scale(0.8);
    
}
.logo:hover{
    position: relative; 
    animation: move-right-left 2s forwards;
    
}
@keyframes move-right-left {
    0% {
      transform: translateX(0);
     
    }
    50% {
      transform: translateX(20px);
    }
    100% {
      transform: translateX(0);
      
    }
  }
.p_d{
    padding: 0 50px;
    margin-top: 200px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.mahsulot_btn1{
    width: 125px;

}
.mahsulot_btn2{
    width: 110px;
}
.mahsulot_btn3{
    width: 85px;

}
.mahsulot_btn4{
    width: 210px;

}
.mahsulot_btn5{
    width: 137px;
    
}
.mahsulot_btn6{
    width: 85px;
    
}
.mahsulot_btn7{
    width: 85px;
    
}
.mahsulot_btn8{
    width: 85px;
    
}
.mahsulot_btn9{
    width: 145px;

}
.s2_as{
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}















@media (min-width: 1700px){
    
    .slider {
        width: 1400px;
        height: 610px;
        overflow: hidden;
        position: relative;
    }
    
    .slides {
        display: flex;
        width: 400%;
        transition: transform 0.5s ease-in-out;
    }
    
    .slide {
        width: 1400px;
        height: 610px;
        flex-shrink: 0;
    }
    
    .navigation {
        position: absolute;
        top: 50%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        transform: translateY(-50%);
    }
    
    .nav-btn {
        background-color: transparent;
        border: none;
        padding: 10px;
        cursor: pointer;
        font-size: 35px;
        color: white;
        user-select: none;
    }




    .tovar{
        width: 250px;
        height:378px;
        background-color: white;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 3px 0px ;
        margin-bottom: 30px;
    }
    .s2tovs{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
 
        margin-bottom: 130px;
    }
    h1{
        font-family: Inder;
        font-size: 44px;
        color: white;
        font-weight: 450;
        margin-bottom: 30px;
    }
    .timg{
        height: 185px;
        width: 250px;
        border: 0;
        border-radius:15px ;
    }
    .tp{
        font-size: 23px;
        font-family: Inder;
        margin: 0 6px;
        width: 233px;
        
    }
    .btn1{
        width: 158px;
        height: 35px;
        background-color: #14ADAB;
        border-radius: 45px 15.5px 45px 15.5px;
        border: 0;
        margin-bottom: 10px;
        font-family: Inder;
        font-size:16px;
        font-weight: 600;
        cursor: pointer;
        display: flex ;
        align-items: center;
        justify-content: center;
    }


    .modal-content {
        background-color: #008084;
        display: flex;
        flex-direction: column;
        width: 1100px;
        height:780px;
        padding: 10px 10px 15px 10px;
        justify-content: space-between;
        border-radius: 20px;
        position: fixed;
        position: relative;
        border: 0;
    
        
        margin: 10% auto;
        
        
       
       
        
        
       
    }
    .ti3{
        width: 30px;
        height: 30px;
    }
    .ti{
        width: 572px;
        margin-right: 20px;
        border-radius: 20px;
        height: 423px;
    }

    .modal-header {
        padding: 10px;
        text-align: left;
        
        border: 0;
    }
    
    
    
    .modalh1{
        font-family: Inder;
        font-size: 48px;
        font-weight: 500;
        margin-bottom: 20px;
    }
   
    .closeBtn {
        color: white;
        font-size: 32px;
        font-weight: bold;
        float: left;
        cursor: pointer;
        margin-left: 10px;
    }
    

    .modal-body {
        display: flex;
        padding: 10px;
        align-items: center;
        
    }
    

    
    

    .modal-info {
        padding-left: 20px;
        color: white;
        height: 423px;
        display: flex;
        align-items: start;
        
        flex-direction: column;
    }
    
    
    

    .modal-footer {
        background-color: #008084;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 0 0 10px 10px;
        color: white;
        border: none;
    }

    .telegram-link {
        color: white;
        text-decoration: none;
        display: flex;
        align-items: center;
    }
    .p10{
        font-family: Inder;
        font-weight: 400;
        font-size: 35px;
    }

    .tb{
        cursor: pointer;
        width: 230px;
        height:50px;
        border-radius: 70px 10px 70px 10px;
        border: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        font-family: Inter;
        font-size: 24px;
        font-weight: 600;
        background: rgb(20, 173, 171);
        margin-right: 20px  ;
    }
    .assa{
        display: flex;
        
        justify-content: center;
        gap: 5px;
        
    
    }
    
    .p11{
        font-family: Inter;
        font-weight: 400;
        font-size: 26px;
        color: white;
        margin-right: 5px;
    }
}



@media (max-width: 580px){
    .head{
        padding: 10px;
        width: 100%;
    }
    .swipe{
        padding: 100px 10px;
    }
    
    .slider {
        width: 355px;
        height: 154px;
        overflow: hidden;
        position: relative;
    }
    
    .slides {
        display: flex;
        width: 400%;
        transition: transform 0.5s ease-in-out;
    }
    
    .slide {
        width: 355px;
        height: 154px;
        flex-shrink: 0;
    }
    
    .navigation {
        position: absolute;
        top: 50%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        transform: translateY(-50%);
    }
    
    .nav-btn {
        background-color: transparent;
        border: none;
        padding: 2px;
        cursor: pointer;
        font-size: 20px;
        color: white;
        user-select: none;
    }

    


    .tovar{
        width: 175px;
        height:280px;
        background-color: white;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 3px 0px ;
        margin-bottom: 30px;
    }
    .s2{
        padding: 10px;
        text-align: center;
    }
    .s2 h1{
        font-size: 20px;
    }
    .s2tovs{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        
        gap: 5px;
        margin-bottom: 130px;
    }
    .s2 h1{
        font-family: Inder;
        font-size: 20px;
        color: white;
        font-weight: 450;
        margin-bottom: 30px;
    }
    .timg{
        height: 137px;
        width: 175px;
        border: 0;
        border-radius:15px ;
    }
    .tp{
        font-size: 15px;
        font-family: Inder;
        margin: 0 6px;
        width: 160px;
        text-align: start;
    }
    .btn1{
        width: 103px;
        height: 22px;
        background-color: #14ADAB;
        border-radius: 45px 15.5px 45px 15.5px;
        border: 0;
        margin-bottom: 10px;
        font-family: Inder;
        font-size:10px;
        font-weight: 600;
        cursor: pointer;
        display: flex ;
        align-items: center;
        justify-content: center;
    }



    .modal-content {
        background-color: #008084;
        display: flex;
        flex-direction: column;
        width: 1100px;
        height:980px;
        padding: 10px 10px 15px 10px;
        justify-content: space-between;
        border-radius: 20px;
        position: fixed;
        position: relative;
        border: 0;
    
        
        margin: 10% auto;
        
        
       
       
        
        
       
    }
    .ti3{
        width: 30px;
        height: 30px;
    }
    
   
    .modal-header {
        padding: 10px;
        text-align: left;
        
        border: 0;
    }
    
    
    
    .modalh1{
        font-family: Inder;
        font-size: 48px;
        font-weight: 500;
        margin-bottom: 20px;
    }

    .closeBtn {
        color: white;
        font-size: 32px;
        font-weight: bold;
        float: left;
        cursor: pointer;
        margin-left: 10px;
    }

    .modal-body {
        display: flex;
        padding: 10px;
        align-items: center;
        
    }
    

    .modal-info {
        padding-left: 20px;
        color: white;
        height: auto;
        display: flex;
        align-items: start;
        
        flex-direction: column;
    }
    
    

    .modal-footer {
        background-color: #008084;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 0 0 10px 10px;
        color: white;
        border: none;
    }
    

    .telegram-link {
        color: white;
        text-decoration: none;
        display: flex;
        align-items: center;
    }
    .p10{
        font-family: Inder;
        font-weight: 400;
        font-size: 35px;
    }

    .tb{
        cursor: pointer;
        width: 230px;
        height:50px;
        border-radius: 70px 10px 70px 10px;
        border: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        font-family: Inter;
        font-size: 24px;
        font-weight: 600;
        background: rgb(20, 173, 171);
        margin-right: 20px  ;
    }
    .assa{
        display: flex;
        
        justify-content: center;
        gap: 5px;
        
    
    }
    
    .p11{
        font-family: Inter;
        font-weight: 400;
        font-size: 26px;
        color: white;
        margin-right: 5px;
    }
    .navaa{
        flex-wrap: wrap;
        align-items: center;
        gap:  30px 150px;
        justify-content: center;
        margin-top: 20px;
    }
    
    .hnav2{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 5px;
        margin-top:10px ;
        width: 100px;
    }
    .hnav2 a{
        font-size: 19px;
        text-decoration: none;
        color: black;
        font-family: Inder;
        
    }
    
    .foot{
        display: flex;
        flex-wrap: wrap;
        
        padding: 10px;
        height: auto;
    }
    .socset{
        flex-direction: column;
        margin-top: 20px;
        flex-direction: row;
        margin-left: px;
    }
    .soc2{
        width: 25px;
        height: 25px;
    }
    .p_d{
        padding:10px ;
    }
    .s2_as{
        padding: 10px;
        gap: 5px;
    }
    

    .modal {
        display: none; 
        position: fixed; 
        z-index: 1; 
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%;
        overflow: auto; 
        background-color: rgba(0,0,0,0.4); 
        
    }
    .p10{
        font-family: Inder;
        font-weight: 400;
        font-size: 20px;
    }
  
    .modal-content {
        background-color: #008084;
        display: flex;
        flex-direction: column;
        width: 355px;
        height: auto;
        padding: 10px;
        justify-content: space-between;
        border-radius: 20px;
        position: fixed;
        position: relative;
        border: 0;
    
        
        margin: 10% auto;
        
        
       
       
        
        
       
    }
    .ti3{
        width: 20px;
        height: 20px;
    }
    .ti{
        width: 335px;
       
        border-radius: 20px;
        height: 189px;
    }

    
    .modal-header {
        
        text-align: left;

        border: 0;
    }
    
    .ti2{
        width: 20px;
        height: 20px;
        padding: 0px;
        font-size: 10px;
    }
    .tii2{
        height: 20px;
        width: 20px;
        
    }
    #modalh1{
        font-family: Inder;
        font-size: 36px;
        font-weight: 400;
        margin-bottom: 10px;
    }

    .closeBtn {
        color: white;
        font-size: 10px;
        font-weight: bold;
        float: left;
        cursor: pointer;
        
    }
    

    .modal-body {
        display: flex;
        flex-direction: column;
        padding: 0;
        align-items: center;
        width: 100%;
        
        margin: 0px;
        margin-bottom: 10px;
    }
    
 
    .modal-info {
        
        color: white;
        height: auto;
        display: flex;
        align-items: center;
        margin-bottom: 0px;
        flex-direction: column;
    }
    .assa h1{
        font-size: 36px;
    }
    #modalh1{
        margin: 0px;
        margin-bottom: 6px;
    }
    

    #modalimg{
        margin: 0px;
        margin-bottom: 10px;
    }
    

    .modal-footer {
        background-color: #008084;
        
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        border-radius: 0 0 10px 10px;
        color: white;
        border: none;
        margin-top: 0px;
    }
    

    .telegram-link {
        color: white;
        text-decoration: none;
        display: flex;
        align-items: center;
    }
    

    .tb{
        cursor: pointer;
        width: 117px;
        height:26px;
        border-radius: 70px 10px 70px 10px;
        border: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        font-family: Inter;
        font-size: 12px;
        font-weight: 600;
        background: rgb(20, 173, 171);
        margin: 0px;
    }
    .assa{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        
    
    }
    .tba{
        margin: 0px;
        margin-top: 6px;
    }
    .p11{
        font-family: Inter;
        font-weight: 400;
        font-size: 12px;
        color: white;
        margin-right: 5px;
        height: 18px;
        display: flex;
        margin-bottom: 0px;
    }
    .tba{
        text-decoration: none;
    }
    
    .l_sc_1{
        width: 100%;
        
        flex-direction: column;
        padding: 100px 10px 100px 10px;
        gap: 30px;
        margin: 0;
        align-items: start;
    }
    .location_map{
        width: 350px;
        height: 188px;
        border-radius: 20px;
        margin: 0;
    }
    .cart{
        width: 350px;
        height: 188px;
        border: none;
        border-radius: 20px;
        margin: 0;
    }
    .location_text{
        margin: 0;
    }
    .ti{
        width: 290px;
        margin-right: 0px;
        border-radius: 20px;
        height: 215px;
    }
    .poisk{
        width: 100%;
        background-color: white;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        

    }
    .poisk_d{
        width: 300px;
        background-color: white;
        height: 30px;
        border: 0;
        border-radius: 30px;
        display: flex;
        justify-content: start;
        align-items: center;
        border: #001819 3px solid;
    }
    .poisk_inp{
        width: 260px;
        height: 100%;
        border: 0;
        border-radius: 30px;
        background-color: white;
        padding: 10px;
        outline: 0;
        color: #001819;
        font-size: Inter;
        font-size: 12px;

    }
    .old-price{
        font-size: 15px;
        margin-top: 5px;
    }
    
    .poisk_btn{
        width: 15px;
        height: 15px;
        background-color: transparent;
        border: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .poisk_img{
        width: 15px;
        height: 15px;
    }
    #s1{
        padding: 10px;
    }
    .container{
        height:220px ;
    }
    .images1{
        width: 60px;
        height: 213.33px;
        object-fit: cover;
        border-radius: 15px;
        transition: all ease-in-out 0.5s;
    }
    .images1:hover{
        width:120px;
    }
}
